# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# AI
ANTHROPIC_API_KEY=
VOYAGE_API_KEY=

# Admin
ADMIN_EMAIL=builtbyabdul@gmail.com

# Misc
SITE_URL=http://localhost:3000
